@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

$font-roboto: 'Sintony', sans-serif;
$font-gentium: 'Tinos', serif;

$blanco: #ffffff;
$negro: #000000;
$c1e183d: #1e183d;
$cd6193d: rgb(249, 18, 60);
