@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&display=swap');

$font-roboto: 'Roboto', sans-serif;
$font-gentium: 'Gentium Book Basic', serif;

$blanco: #ffffff;
$negro: #000000;
$c1e183d: #1e183d;
$cd6193d: #d6193d;
