body {
    background-color: $blanco;
    min-height: 100vh;
	width: 100%;
	font-family: $font-roboto;
	position: relative;

	* {
		outline: none !important;
    }

    &.active-menu {
        overflow: hidden;

        &::before {
            content: '';
            width: 100%;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: 0.7);
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 200;
        }
    }

	@import '../components/custom-margin';
	@import '../components/custom-max-width';
	@import '../components/custom-width';

	a:hover,
	a:focus,
	a:active,
	a {
		color: inherit;
		text-decoration: none;
	}

	.bg {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
			visibility: hidden;
		}

		&.bg-size-contain {
			background-size: contain;
		}

		&.bg-size-auto {
			background-size: auto;
		}

		&.bg-size-cover {
			background-size: cover;
        }

        &.bg-position-bottom {
            background-position: center bottom;
        }
	}
}
